
body {
	font-size: 16px;
	font-family: 'Fujiyama2';
	color: var(--Grey);
	font-weight: 400;
	counter-reset: section;
}

:root {
  --Purple: #09007c;
  --Light_Pink: #ffdeff;
  --Light_Magenta : #ff33ff;
  --Magenta: #eb268f;
  --Grey: #433c63;
  --Light_Grey: #b3b3b3;
}

.ar_shadow {
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.26);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.26);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.26);
}

/* notification css */
.error {
	color: var(--Magenta);
	margin-bottom: 0;
  opacity: .7;
}
a { color: var(--Grey) }
.ay_lst {
	list-style: none;
	padding: 0;
}

/* counter css */


/*== buttons and inputs ==*/
.ay_button {
    color: #fff;
    border: solid 1px var(--Magenta);
    background: var(--Magenta);
    padding: 6px 25px;
    font-size: 25px;
    border-radius: .6rem;
}
input.form-control.pln {
    background: no-repeat;
    border: none;
    border-bottom: solid 1px var(--Grey);
    border-radius: 0; color: var(--Magenta); padding-left: 0;
}
input.form-control.pln::placeholder {
	color: var(--Magenta);
	opacity: 1; /* Firefox */
  }
  input.form-control.pln:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--Magenta);
  }
  input.form-control.pln::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--Magenta);
  }
.form-control {	border-radius: .6rem; font-size: 18px; padding: .5rem .75rem; }
.checkcontainer { display: block; position: relative; padding-left: 35px; margin-bottom: 12px; cursor: pointer;}
.checkcontainer input { position: absolute; opacity: 0; cursor: pointer; }
.radiobtn {
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;border-radius: 50%;
	border: solid 1px var(--Grey);
}
.checkcontainer input:checked ~ .radiobtn {
	background: var(--Magenta);
}
.checkcontainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}



/* == top background css ==== */
.bg-v2 {
    height: 200px;
    position: absolute;
    width: 100%;
    background-image: url(../images/bg2.png);
    z-index: -1;
	background-size: cover;
}
.bg-v1 {
    height: 250px;
    position: absolute;
    width: 100%;
    background-image: url(../images/topbg-v1.png);
    z-index: -1;
	background-size: cover;
}
.bg_v1 { background-image: url(../images/topbg-v1.png); background-size: 100%; background-position: center -30px;}
.bg-v3 {
	height: 500px;
    position: fixed;
    width: 100%;
    background-image: url(../images/bg-v3.png);
    z-index: -1;
	background-size: cover;
}
.bg-v4 {
	height: 100vh;
    position: absolute;
    width: 100%;
    background-image: url(../images/bg-v4.png);
    z-index: -1;
	background-size: cover;
  top: 0;
}

/* nottom menu */
.ht_full { position: relative; height: 100%; overflow: auto; padding-bottom: 50px;}
.ht_full .mnu {z-index: 1; position: fixed; bottom: 0; width: 100%; background: #fff; border-top: solid 1px var(--Light_Grey); }
.ht_full .mnu a { font-size: 1.7rem;}
.ht_full .mnu a.active { color: var(--Magenta);}

/* main menu */
.offcanvas-start { width: 100%; background-image: url(../images/bg2.png);background-size: cover;}
.notf { margin-right: 1rem; position: relative; margin-top: -10px; margin-top: 15px !important; display: block; float: left;}
.main_menu .mn_tr {
    padding: .5rem;
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}
.notf.actv > i::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background: var(--Magenta);
  border-radius: 4px;
  position: absolute;
  bottom: 4px;
  z-index: 0;
  left: -3px;
}
.main_menu .mn_tr a { font-size: 2.5rem; text-decoration: none; }
.mnu_itm a { text-decoration: none;}
.mnu_itm small { font-size: 12px;}
.mnu_itm { margin-bottom: 10px;}
.offcanvas-title { font-size: 1.8rem;}
.main_menu .offcanvas-body ul { list-style: none;}
.main_menu .offcanvas-body ul li:not(:last-child) { border-bottom: solid 1px var(--Light_Grey); margin-bottom: 1rem; padding-bottom: 1rem;}



/*  */

.profile-pic {
	color: transparent;
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: all 0.3s ease;
  }
  .profile-pic input {
	display: none;
  }
  .profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 75px;
    height: 75px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
}
  .profile-pic .-label {
	cursor: pointer;
	height: 65px;
	width: 65px;
  }
  .profile-pic:hover .-label {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10000;
	color: #fafafa;
	transition: background-color 0.2s ease-in-out;
	border-radius: 100px;
	margin-bottom: 0;
  }
  .profile-pic span {
	display: inline-flex;
	padding: 0.2em;
	height: 2em;
  }

  .mgnta {
	color: var(--Magenta);
  }
  .uln {border-bottom: solid 1px var(--Light_Grey); display: inline; padding-bottom: 5px; }


  /* owl carousal */
  .owl-dots, .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
  .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.owl-dots .owl-dot span{
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px
}
.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
  background: var(--Magenta);
}