@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

/* @media screen and (max-width: 600px) { */

/*=== home page css ====*/
.hmmntr.px-3.py-2 {
    padding-top: .2rem !important;
    padding-bottom: .2rem !important;
}
.hmmntr .mmdtt h3 {
    margin-bottom: 0;
    font-size: calc(1.1rem + .6vw);
}
.nh_btm_sec .hm_btmdet p {
    font-size: .9rem;
}
.nh_btm_sec .owl-carousel.owl-drag .owl-item {
	padding-bottom: 10px;
}
.nh_btm_sec .sl_det h3 {
    font-size: 1.2rem;
	margin-bottom: 1.6rem;
}
.nh_btm_sec .sl_det .hm_btmdet .dropdown { margin-left: 20px;}
.nh_btm_sec .sl_det { margin-top: 1rem;}
.nh_btm_sec .sl_det > p {
	margin-bottom: 10px;
}
.nh_btm_sec .sl_det > p::after {
	content: "";
	display: block;
	height: 1px;
	width: 30px;
	margin-top: 10px;
	background: var(--Magenta);
}
.nh_btm_sec h2 { font-size: 1.3rem;}
.nh_btm_sec h2 > a { font-size: .7rem;}
.hmmntr { background: #f1f1f1; }
.hmmntr .mmdtt h3 span{ font-size: 16px; color: var(--Magenta); }
.hmmntr .icnnn {  margin-right: 20px; font-size: 33px; }
.hmmntr .mmdtt p { margin-bottom: 0;}
.hmmntr .mmdtt h3 { margin-bottom: 0;}


/*== login screen css ==*/
.a_crd { border-radius: 1.5em; background: #fff; margin-top: 100px !important; min-height: 230px; padding: 2.5rem 1.5rem; margin-bottom: 5rem !important; }
.log_bottom {text-align: center;}
.log_bottom .ay_button { width: 250px; margin-top: 15px; }
.log_bottom p { font-size: 12px;     margin-bottom: 0; }
.log_registr .head_t {margin-top: 4rem;}
.log_registr .head_t p {
    font-size: 24px;
    margin: 40px 3px;
}
.a_crd .form-control {
    text-align: center;
}

/*=== otp page css ====*/
.hedr p { margin-top:5rem; font-size: 24px; }
.otp_scr .hedr {position: relative; margin-top: 2rem;}
.otp_scr .hedr .go_back {position: absolute;left: 0;top: 0;font-size: 24px; }
.otp_steps {margin-bottom: 1.5rem;}
.otp_steps .ot_step {width: 33.33%;}
.otp_steps .ot_step .stp_bar {background: #fff;height: 3px;}
.otp_steps .ot_step .stp_bar.complete {	background: var(--Grey);}
.oto_sec .o_t_p {margin-bottom: 3rem;}
.oto_sec .o_t_p .form-control {	border: none; background: none; border-bottom: solid 1px var(--Magenta);	border-radius: 0; font-size: 24px; color: var(--Magenta);}
.otp_custu_care { position: absolute; bottom: 0; left: 0;width: 100%;height: 100%; background: rgba(255,255,255,.5);
}
.otp_custu_care .inr { position: absolute; bottom: 0; background: #fef3fa; width: 100%; padding: 25px;}
span.clos { position: relative; top: -15px; left: 50%; height: 3px; display: block; background: var(--Grey); width: 40px; transform: translateX(-20px);}
.oto_sec .det_trg { font-size: 28px;}


/*== g-score page css ==*/
.opt { width: 70%; float: left; font-size: 16px; }
.otp_scr h1 { font-size: 30px; margin-bottom: 2rem; font-style: italic; }
.fst, .last { width: 15%; float: left; font-size: 16px; }
.qstn ol { padding: 0; }
.qstn ol li { width: 100%; list-style: lower-alpha; float: left; font-size: 16px; margin-bottom: 10px; }
.qstn { margin-bottom: 1rem; width: 100%; float: left; }
.parnt_ul { padding-left: 20px; font-size: 20px; }
.parnt_ul > li { list-style: decimal; }
.qstn .hdr { margin-bottom: 10px;}
.qstn .hdr > div { font-size: 22px;}
.otp_scr legend { font-size: 25px;}
.otp_scr form {
    margin-top: 55px;
}
.qstn ol li .radiobtn {
    left: 15px;
}
.qstn ol li .last .radiobtn {
    right: 8px;
    left: inherit;
}
.qstn .hdr .last {
    text-align: right;
}


/*== g-score instraction page css ===*/
.g_scor_instr .instr h1{ font-size: 4rem; font-style: italic; }
.instr ul { list-style-type: decimal; padding-left: 20px; font-size: 18px; margin-bottom: 5rem; }
.instr ul li { font-size: 1.2rem; line-height: 1.6;}
.instr .ay_button {
    padding: 4px 2rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
}



/* ==== search page css ===== */
.srh_hd { padding: 1rem;}
.srch_pg .srh_hd h1 { font-size: 28px; margin-bottom: 20px;}
.tagss { padding-left: 10px; padding-bottom: 1rem; margin-top: 3rem;}
.tagss a { margin: 0 5px; background-color: var(--Light_Pink); font-size: 12px; padding: 2px 10px; border-radius: 4px;}
.srch_cont h2 { font-size: 18px; margin-bottom: 1.7rem;}
.srch_cont ul li { list-style: none; padding-left: 35px; position: relative; margin-bottom: 1.5rem;}
.srch_cont ul li::before { counter-increment: section; content: "0"counter(section); position: absolute; left: 0; color: var(--Light_Grey); font-size: 24px;}
.srch_cont .cnt h3 { font-size: 22px;}
.srch_cont .cnt .nam_det { font-size: 16px;}
.srch_cont .cnt .nm { color: var(--Magenta);}
.srch_cont .cnt .det_sr { position: absolute; right: 0; bottom: 0; font-size: 16px; }
.srch_cont .cnt .pr i { color: var(--Magenta);}
section.whmnt {	border-top: solid 1px var(--Light_Grey);}
section.whmnt h2 { font-size: 1rem;}
section.whmnt .whofloe {padding-left: 1rem;}
section.whmnt .whofloe .flws h4::before {content: 'M'; border: solid 1px var(--Grey); line-height: 1; color: var(--Magenta); margin-right: 4px; padding: 0 3px; font-size: .8rem;}
section.whmnt .whofloe .flws h4 {
    font-size: 18px;
}


/* ==== unlock membership page css ===== */
.Unl_memb .hdr { margin-bottom: 1rem; padding: 1rem;}
.Unl_memb .hdr .hlp a { margin: 0 5px; text-decoration: none; background-color: var(--Magenta); font-size: 14px; padding: 2px 10px; border-radius: 4px; color: #fff;}
.Unl_memb .hdr .clos span { font-size: 1.5rem; }
.Unl_memb .hdr .clos a { text-decoration: none; margin-left: 10px; }
.Unl_memb .mam_cont { padding: 1rem; }
.Unl_memb .mam_cont h3 {
    font-size: 2.3rem;
    margin-bottom: 26px;
}
.Unl_memb .mam_cont ul {padding: 0;}
.Unl_memb .mam_cont ul li { font-size: 18px; list-style: none; position: relative; padding-left: 20px; margin-bottom: 1rem; }
.Unl_memb .mam_cont ul li::before { content: "\F309"; left: -10px; color: var(--Magenta); top:-10px; font-family: bootstrap-icons !important; font-size: 2rem; position: absolute;}
.Unl_memb .mam_cont .btngt .ay_button {
    padding: 10px 50px;
}


/* ==== user role css ===== */
.prftl { background-image: url(../images/darkbg.png);background-size: 100%; background-position: top 0px center;}
.prdt .aydp img { border-radius: 50%; object-fit: cover; }
.dtpan {
    border-radius: .8rem;
    padding: .5rem;
    max-width: 604px;
    margin: 0 auto;
}
.dtpan > div { border-color: var(--Grey) !important; padding: 10px 2px; }
.dtpan p, .dtpan a { font-size: 18px; margin: 10px 0; display: block;} 
.dtpan a { color: var(--Magenta); text-decoration: none;}
.usr_rl .sc_wrp .lp_ar { background-color: rgba(255,255,255,.5); }
.sc_wrp .lp_ar .tim { text-align: center; font-size: .8rem; }
.sc_wrp .lp_ar .erj { background-color: var(--Grey); border: solid 2px var(--Magenta); font-size: .8rem;
    line-height: 1; color: #fff; width: 50px; height: 50px; border-radius: 50%; text-align: center; position: relative; }
.sc_wrp .lp_ar .ttl a { font-size: 1.5rem; text-decoration: none; }
.sc_wrp .lp_ar .erj::after {content: ''; display: block; height: 10px; width: 1px; background: rebeccapurple; position: absolute; bottom: -11px;left: 50%;}
.sc_wrp .lp_ar .erj::before {content: ''; display: block; height: 10px; width: 1px;background: rebeccapurple; position: absolute; top: -11px; left: 50%;}
audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}

/* === details page css === */
.dt_cnt h2 { font-size: 32px; text-decoration: underline;}
.dt_cnt { margin-top: 60px; }
.sgrd input[type=radio],
.gndr input[type=radio] { position: absolute; opacity: 0; }
.gndr input[type=radio]:checked + .radio-label { border-bottom: solid 2px var(--Magenta);}
.sgrd .radio-label { border: solid 1px var(--Grey); border-radius: 4px; padding: 0 10px; margin-top: 5px;}
.sgrd input[type=radio]:checked + .radio-label { background-color: var(--Magenta); color: #fff; }
.nmtg input { border: none; font-size: calc(1.275rem + .3vw);
    padding-bottom: 6px; padding-left: 0px; border-bottom: solid 1px var(--Grey); color:var(--Magenta) !important; background: transparent; }
.dtbtm { margin-top: 8vh; margin-bottom: 10px;}
.dtbtm .ay_button { padding: 7px 20px; font-size: 20px; line-height: 1.2; }
.dtbtm a { text-decoration: none;}
.nmtg input::placeholder {
    color: var(--Grey);
    opacity: 1; /* Firefox */
  }
  .nmtg input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--Grey);
  }
  .nmtg input::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--Grey);
  }

/* === Connections page css === */
section.cnctn_mn {
    margin-top: -15px;
}
.cnctn_mn .cn_sect > span a { text-decoration: none; font-size: 22px; }
.cnctn_mn .cn_sect > span:after { content: ''; display: block; width: 100%; height: 3px;
    background: var(--Grey);
    margin-top: .5rem;
}
.cnctn_mn .cn_sect > span.active::after { background: var(--Magenta); }
.fr_lst > span { float: left; }
.fr_lst span.fr_nm { width: 50%;}
.fr_lst span.fr_img { width: 20%;}
.fr_lst span.fr_rmv { width: 30%; text-align: end;}
.fr_lst span.fr_rmv a.btn.ay_button { font-size: 1em; padding: 2px 10px; margin-top: 15px;}
.fr_lst span.fr_img img { height: 50px; border-radius: 50%; object-fit: cover;}
.fr_lst span.fr_nm > span { display: block; color: var(--Magenta);}
.fr_lst span.fr_nm > a { font-size: 1.5em; text-decoration: none;}
.cnctn_mn .fr_lst {  margin: 20px 0 25px !important; }


/* === cource content page === */
.crc_cnt { position: relative;}
/* .crc_cnt .pic_mttr { max-height: 250px; overflow: hidden; padding-top: 70%; background-size: 100%; position: relative; background-attachment: fixed;} */
/* .crc_cnt .pic_mttr::after { content: ''; display: block; height: 100%; width: 100%; position: absolute; top: 0; background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,0.8851241208194347) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,0.7783825477857268) 100%);} */
.crc_cnt .hd_opt { position:absolute; width: 100%; top: 20px; }
.crc_cnt .hd_opt span > a,
.crc_cnt .hd_opt span { font-size: 2rem; line-height: 1; color: #fff;}
.crc_cnt .hd_opt span { margin: 0 5px;}
.crc_cnt .hd_opt span.bkmr > a,
.crc_cnt .hd_opt span.bkmr { font-size: 1.2rem !important; margin-top: 7px;}
.cntt_crs .nav .nav-link {font-size: 22px; padding: 0; margin: 0; border: none; border-bottom: solid 3px var(--Grey); padding-bottom: 7px; color: var(--Grey);}
.cntt_crs .nav .nav-link.active { border-bottom: solid 3px var(--Magenta); background: none; }
.ct_ls_dt .ls_hd {
    margin-bottom: 30px;
}
.ct_ls_dt .dscr > span{ margin: 0px 5px; }
.ct_ls_dt button.ay_button { font-size: 1em; padding: 0 9px; margin-top: 10px;}
.al_cr_ls .cr_ls { background: #f1f1f1;}
.al_cr_ls .cr_ls.rnng { background: var(--Magenta); color: #fff;}
.al_cr_ls .cr_ls h3 { font-size: 20px; margin: 0;}
.cr_ls .cr_ch { color: var(--Grey); margin: 8px 15px 3px 0px; width: 30px; height: 30px; border-radius: 50%; background-color: #fff; font-size: 20px; }
.cr_ls .cr_ch.chck { font-size: 21px; color: var(--Magenta); font-weight: 700; }
.mnt_oc > img { width: 30px; height: 30px; border-radius: 50%;}
.al_cr_ls .cr_ls.mnt_ls p,
.al_cr_ls .cr_ls.mnt_ls h3 { padding-left: 25px; position: relative;}
.al_cr_ls .cr_ls.mnt_ls h3::before {content: 'M';position: absolute;left: 0;top: 2px; color: var(--Magenta); font-size: 16px; padding: 2px; text-align: center;	border: solid 1px var(--Grey); line-height: 1;}
.al_cr_ls .cr_ls.mnt_ls .grd { color: var(--Magenta);}
.mlt_qsss .radiobtn { top: 5px;}
.mlt_qsss fieldset { margin-bottom: 30px;}
.mlt_qsss > h3 { text-decoration: underline; margin-top: 25px; font-size: 1.7rem;}


/* === account setting page  */
.bg_v1.ac_sett { height: 100%;}
.bg_v1.ac_sett .dtls { margin-top: 10px; height: calc(100% - 200px);}
.bg_v1.ac_sett .profile-pic {
    margin-top: -60px;
    margin-bottom: 80px;
}
.bg_v1.ac_sett .dtls legend { font-size: 1em; color: var(--Magenta);}
.upbrt {
    position: relative;
}
.bg_v1.ac_sett .dtls .ay_button {
    margin-top: 1rem;
}
a.uplnk {
    position: absolute;
    right: 0;
    top: 7px;
	color: var(--Magenta);
	text-decoration: none;
}
.mb-3.text-center.mt-5.fx__btns {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
/* badge page css */
.bdg_log {margin-top: -120px;}
.clnd { margin-top: 25px;}
.clnd .dt{ font-size: 5rem; color: var(--Magenta); border-bottom: solid 1px var(--Light_Grey); line-height: 1; margin-bottom: 10px; display: inline-block; padding: 5px 0 22px; }
.clnd p { font-size: 1.5rem;}
.bdg, .bdg > a { display: block; width: 100%; }
.bgth > span { font-size: 30px; }
.badges_slid h1 { line-height: 2;}
/* == enrolled and save === */
.enlst .cten h2{margin-top: .7rem;}
.enlst .cten h2::after { content: ''; width: 35px; height: 1px; background: var(--Magenta); display: block; margin-top: 7px;}
.cten .crsh { width: 80%; float: left;}
.cten .crsh p {
	font-size: 1.2rem;
}
.envdo {
	width: 100%;
	position: relative;
}
.envdo .playpause {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 44px;
    transform: translate(-50%, -50%);
}
.cten .psnt {
	width: 20%; float: right; text-align: center;
}
.cten .psnt strong {
	float: right;
    display: inline-block;
    margin-left: 30px;
    background: var(--Grey);
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: .89em;
    padding: 5px 2px;
}
/* .btendt { font-size: .8rem;} */
.btendt .rnk { color: var(--Magenta); }
.btendt .nmk::before {
    content: 'M';
    border: solid 1px var(--Grey);
    line-height: 1;
    color: var(--Magenta);
    margin-right: 4px;
	padding: 0 3px;
}
.svhdr { border-bottom: solid 2px var(--Grey); padding-bottom: 1rem;}
.svhdr .gsyh .float-start { font-size: 1.3rem; }
.tgsh > span {
	background-color: var(--Light_Pink); font-size: .8rem; border-radius: 4px; margin-bottom: 10px; margin-right: 5px; padding: 0 12px;}
.gsyh a {
	color: var(--Magenta);
	text-decoration: none;
} 	
.svcnt .imghb { 
	width: 25%;
	float: left;
}
.svcnt .imghb > img {    margin-top: 20px;
    width: 85px;
    margin-bottom: 20px;
    max-height: 50px;
    object-fit: cover; } 
.svcnt .cgav { 
	width: 75%;
	float: left;
	padding-left: 30px;
}
.svcnt .cgav p > span{
	color: var(--Magenta);
}
.svcnt .svcntldt .cgav p {
	font-size: 16px;
}
.svcnt .svcntldt .cgav h3 {
	font-size: 1.4rem;
}
.svcnt .svcntldt { 
	border-bottom: solid 1px var(--Light_Grey-400) ; padding-bottom: .4rem;     margin-bottom: 25px;
}
.allhadv {
    border-top: solid 1px var(--bs-gray);
    padding-top: 5px;
    margin-top: 20px !important;
}
.recmn {
	background: #f1f1f1;
    border-top: solid 1px var(--bs-gray-400);
}
.recmn h3,
.allhadv .svdcat h3 {
	font-size: 1.25rem;
	margin-bottom: 1.5rem;
}
.recmn .reclst:not(:last-child),
.allhadv .svctls:not(:last-child) {
	border-bottom: solid 1px var(--bs-gray-400);
	margin-bottom: 1rem;
}
.recmn .reclst .col .ay_button,
.allhadv .svctls .col .ay_button {
    font-size: .85rem;
    padding: 0 5px;
    border-radius: 4px;
	color: var(--Magenta);
	background-color: var(--Light_Pink);
	border: var(--Light_Pink);
}
.recmn .reclst .col .ay_button {
	color: var(--Grey);
	padding: 0 15px;
}


/* === relationship page css ==== */
.relchc { margin-top: 21vh;}
.rlsn .reltxr p {
    text-align: justify;
    font-size: 1.58rem;
    margin-top: 1.3rem;
}
.relmtch {
	background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
	padding: .375rem .75rem;
	border-radius: 0.6rem;
    font-size: 18px;
    min-height: 48px;
}
.relmtch .pfp {
	width: 15%;
}
.relmtch .relnm {
	width: 60%;
}
.relchc .checkbtn {
	color: #fff;
	background-color: var(--Grey);
	font-size: 1.2rem;
	border-radius: 0.6rem;
	padding: 0rem 1rem;
}


/* Course-Category-listing */
.cr_ls_dt .flwww .ay_button {
    font-size: 16px;
    background-color: var(--Light_Pink);
    border-color: var(--Light_Pink);
    color: var(--Grey);
    padding: 0;
    padding: 3px 10px;
    border-radius: 5px;
}


/* privacy policy page */
.prv_pol { position: relative;}
.pp_cnt h2 { font-size: 22px; border-bottom: solid 1px var(--bs-gray); line-height: 1.5; display: inline-block; }
.pp_cnt p { line-height: 1.6; font-size: 18px;}
.pp_cnt .sn_cnt { margin-bottom: 30px;}
.prv_pol span.ppl_clos { position: absolute; top: 20px; right: 20px;}



/* notification page css */
.nt_bx_Bg { background: rgba(67, 60, 99, 0.32); width: 100%; float: left; margin: 10px 0; padding: 10px; }
.nt_bx_Bg h2 { color: var(--Magenta); font-size: 1.52rem; }
.nt_bx_Bg .fr_lst span.fr_img {  width: 50px;  margin-right: 5px; }
.flrq > a { text-decoration: none; }
.nt_bx_Bg span.flrq a,
.nt_bx_Bg span.flrq p{  font-size: 1.1rem; }
.btns_ac .btn { font-size: 0.85rem; padding: 2px 6px; color: var(--bs-white); border-radius: 0; }
button.btn.dnybtm { background-color: var(--Grey);}
.nt_sgg .fr_lst span.fr_nm > a { font-size: 1.2em; }
.nt_sgg .fr_lst span.fr_rmv span a { margin-top: 10px; text-decoration: none; }
.nt_sgg .fr_lst span.fr_rmv a.btn.ay_button { margin-top: 0; padding: 1px 15px; border-radius: 5px; margin-right: 10px;}



/* g-Score result page */
.g_sc_mn {margin-top: 20px;}
.g_sc_mn h2 { font-size: 2.5rem; margin-bottom: 1.5rem;}
.g_sc_mn p.de_2 { font-size: 1.6rem; margin-bottom: 5px;}
.g_sc_mn h3 { font-size: 33px; margin-bottom: 2rem;}
.l_cn_tr { position: absolute; left: 50%; text-align: center; max-width: 200px; transform: translateX(-50%);}
.rsult_l .top_resl h1{ font-size: 3.5rem; }
.rsult_l .top_resl { margin-bottom: 2rem; }
.rsult_l .top_resl h3 { font-size: 2rem; display: inline-block; border-top: solid 1px var(--bs-gray); padding: 0 15px;}
.rsult_l .btm_rsl h3 {
    font-size: 2rem;
}
 .dtls { background: rgb(255,24,203);
    background: linear-gradient(0deg, rgba(255,24,203,0.5592814241902212) 0%, rgba(255,255,255,0.6744499635160639) 100%, rgba(255,255,255,0.7783825477857268) 100%);} 



/* responsive css */
@media only screen and (max-width:500px) {
    .dt_bg_fl { min-height: 100vh;}
    .dtls { position: absolute; width: 100%; bottom: 0; }
    .dtbtm { margin-top: 25vh; }
    .bg_v1.ac_sett .main_menu { height: 200px; }
    .dtls { background: rgb(255,24,203);
        background: linear-gradient(0deg, rgba(255,24,203,0.5592814241902212) 0%, rgba(255,255,255,0.6744499635160639) 100%, rgba(255,255,255,0.7783825477857268) 100%);}
    
}

@media only screen and (max-width:380px) {
    .dtbtm {
        margin-top: 4vh;
    }
}


@media only screen and (min-width:501px) {
    /* login page responsive */
    .log_registr .head_t {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        padding-right: 1.5rem!important;
        padding-left: 1.5rem!important;
    }
    .log_registr .head_t p {  margin: 0px 0px; font-size: 20px}
    .log_registr .head_t img.img-fluid { width: 70px;}
    .log_syihn .a_crd { max-width: 500px; margin: 30px auto !important; }
    /* account setting responsive */
    .bg_v1.ac_sett .dtls > form {
        max-width: 500px;
        margin: 0 auto;
    }
    .bg_v1.ac_sett .profile-pic { margin-top: -82px; margin-bottom: 20px;}
    .bg-v4 { height: 100%; background-position: 0 63%; }
    .bg-v2 { height: 100%; background-position: 0 15%; }
    .bg-v1 { height: 100%; background-position: 0px 17%;}
    .bg_v1 { background-position: center -376px;}

    .mb-3.text-center.mt-5.fx__btns { position: relative; bottom: 0; }
    .hmmntr .mmdtt h3 {
        font-size: calc(.85rem + .6vw);
    }
    .bg_v1.ac_sett .dtls {
        margin-top: 80px;
    }
}

/*
@media screen and (min-width: 995px OR max-height: 700px) {
  .log_syihn {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
  }
}*/

