@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

@media screen and (max-width: 600px) {

/*== login screen css ==*/
.a_crd { border-radius: 1.5em; min-height: 230px; padding: 2.5rem 1.5rem; margin-bottom: 5rem !important; }
.log_bottom {
	/*position: absolute;
	bottom: 50px;*/
	text-align: center;
}
.log_bottom .ay_button { width: 250px; margin-top: 15px; }
.log_bottom p { font-size: 10px; }
.log_registr { padding: 25px; position: relative; height: 100%; }
.log_registr .head_t p { font-size: 15px; }

/*=== otp page css ====*/
.otp_scr {
	padding: 25px;
}
.hedr p { margin-top:3rem; font-size: 18px; }
.otp_scr .hedr {
	position: relative;
}
.otp_scr .hedr .go_back {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 24px;
}
.otp_steps {
	margin-bottom: 1.5rem;
}
.otp_steps .ot_step {
	width: 33.33%;
}
.otp_steps .ot_step .stp_bar {
	background: #fff;
	height: 3px;
}
.otp_steps .ot_step .stp_bar.complete {
	background: var(--Grey);
}
.oto_sec .o_t_p {
	margin-bottom: 3rem;
}
.oto_sec .o_t_p .form-control {
	border: none;
	border-bottom: solid 1px var(--Magenta);
	border-radius: 0;
}
.otp_custu_care {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
}
.otp_custu_care .inr { position: absolute; bottom: 0; background: var(--Light_Pink); width: 100%; padding: 25px;}
span.clos { position: relative; top: -15px; left: 50%; height: 3px; display: block; background: var(--Grey); width: 40px; transform: translateX(-20px);}

/*== g-score page css ==*/
.opt { width: 70%; float: left; }
.otp_scr h1 { font-size: 30px; margin-bottom: 2rem; }
.fst, .last { width: 15%; float: left; }
.qstn ol { padding: 0; }
.qstn ol li { width: 100%; list-style: lower-alpha; float: left; font-size: 16px; }
.qstn { margin-bottom: 1rem; width: 100%; float: left; }
.parnt_ul { padding-left: 20px; font-size: 20px; }
.parnt_ul > li { list-style: decimal; }
}


/*== g-score instraction page css ===*/
.g_scor_instr .instr h1{ font-size: 56px; font-style: italic; }
.instr ul { list-style-type: decimal; padding-left: 20px; font-size: 18px; margin-bottom: 5rem;; }


/* ==== search page css ===== */
.srh_hd { padding: 1rem;}
.srch_pg .srh_hd h1 { font-size: 20px; margin-bottom: 15px;}
.tagss { padding-left: 10px; padding-bottom: 1rem; margin-top: 3rem;}
.tagss a { margin: 0 5px; background-color: var(--Light_Pink); font-size: 10px; padding: 2px 10px; border-radius: 4px;}
.srch_cont h2 { font-size: 18px; margin-bottom: 1.7rem;}
.srch_cont ul li { list-style: none; padding-left: 25px; position: relative; margin-bottom: 1.5rem;}
.srch_cont ul li::before { counter-increment: section; content: counter(section); position: absolute; left: 0; color: var(--Light_Grey); font-size: 24px;}
.srch_cont .cnt h3 { font-size: 20px;}
.srch_cont .cnt .nm { color: var(--Magenta);}
.srch_cont .cnt .det_sr { position: absolute; right: 0; bottom: 0; }
.srch_cont .cnt .pr i { color: var(--Magenta);}


/* ==== unlock membership page css ===== */
.Unl_memb .hdr { margin-bottom: 1rem; padding: 1rem;}
.Unl_memb .hdr .hlp a { margin: 0 5px; background-color: var(--Magenta); font-size: 14px; padding: 2px 10px; border-radius: 4px; color: #fff;}
.Unl_memb .hdr .clos span { font-size: 1.3rem; }
.Unl_memb .hdr .clos a { text-decoration: none; }
.Unl_memb .mam_cont { padding: 1rem; }
.Unl_memb .mam_cont ul {padding: 0;}
.Unl_memb .mam_cont ul li { font-size: 18px; list-style: none; position: relative; padding-left: 20px; margin-bottom: 1rem; }
.Unl_memb .mam_cont ul li::before { content: "\F309"; left: -10px; color: var(--Magenta); top:-10px; font-family: bootstrap-icons !important; font-size: 2rem; position: absolute;}
.Unl_memb .mam_cont .btngt { margin-top: 4rem; }


/* ==== user role css ===== */
.prdt .aydp img { border-radius: 50%; object-fit: cover; }
.dtpan { border-radius: .8rem; padding: .5rem; }
.dtpan p, .dtpan a { font-size: 18px; margin: 10px 0; display: block;} 
.dtpan a { color: var(--Magenta); text-decoration: none;}
.usr_rl .sc_wrp { background: rgb(255,24,203); background: linear-gradient(129deg, rgba(255,24,203,0.7868095140778617) 0%, rgba(93,9,121,0.5957982781228055) 51%, rgba(18,0,42,0.7783825477857268) 100%);}
.usr_rl .sc_wrp .lp_ar { background-color: rgba(255,255,255,.5); }
.sc_wrp .lp_ar .tim { text-align: center; font-size: .8rem; }
.sc_wrp .lp_ar .erj { background-color: var(--Grey); border: solid 2px var(--Magenta); color: #fff; width: 70px; height: 70px; border-radius: 50%; text-align: center; }
.sc_wrp .lp_ar .ttl a { font-size: 1.5rem; text-decoration: none; }



/* === details page css === */
.dtls { margin-top: 10vh; background: rgb(255,24,203);
	background: linear-gradient(0deg, rgba(255,24,203,0.5592814241902212) 0%, rgba(255,255,255,0.6744499635160639) 100%, rgba(255,255,255,0.7783825477857268) 100%);}
.sgrd input[type=radio],
.gndr input[type=radio] { position: absolute; opacity: 0; }
.gndr input[type=radio]:checked + .radio-label { border-bottom: solid 2px var(--Magenta);}
.sgrd .radio-label { border: solid 1px var(--Grey); border-radius: 4px; padding: 0 10px; margin-top: 5px;}
.sgrd input[type=radio]:checked + .radio-label { background-color: var(--Magenta); color: #fff; }
.nmtg input { border: none; border-bottom: solid 1px var(--Grey); background: transparent; }
.dtbtm { margin-top: 15vh;}


/* === Connections page css === */
.cnctn_mn .cn_sect > span a { text-decoration: none; }
.cnctn_mn .cn_sect > span:after { content: ''; display: block; width: 100%; height: 3px;
    background: var(--Grey);
    margin-top: .5rem;
}
.cnctn_mn .cn_sect > span.active::after { background: var(--Magenta); }
.fr_lst > span { float: left; }
.fr_lst span.fr_nm { width: 50%;}
.fr_lst span.fr_img { width: 20%;}
.fr_lst span.fr_rmv { width: 30%;}
.fr_lst span.fr_rmv a.btn.ay_button { font-size: .9em; padding: 2px 10px; margin-top: 15px;}
.fr_lst span.fr_img img { height: 50px; border-radius: 50%; }
.fr_lst span.fr_nm > span { display: block; color: var(--Magenta);}
.fr_lst span.fr_nm > a { font-size: 1.3em; text-decoration: none;}
.cnctn_mn .fr_lst {
    margin: 1rem 0 !important;
}
