@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

/* @media screen and (max-width: 600px) { */

/*=== home page css ====*/
.nh_btm_sec .hm_btmdet p {
    font-size: .9rem;
}
.nh_btm_sec .owl-carousel.owl-drag .owl-item {
	padding-bottom: 10px;
}
.nh_btm_sec .sl_det h3 {
    font-size: 1.2rem;
	margin-bottom: 1.6rem;
}
.nh_btm_sec .sl_det { margin-top: 1rem;}
.nh_btm_sec .sl_det > p {
	margin-bottom: 10px;
}
.nh_btm_sec .sl_det > p::after {
	content: "";
	display: block;
	height: 1px;
	width: 30px;
	margin-top: 10px;
	background: var(--Magenta);
}
.nh_btm_sec h2 {
    font-size: 1.3rem;
}
.nh_btm_sec h2 > a {
	font-size: .7rem;
}


/*== login screen css ==*/
.a_crd { border-radius: 1.5em; min-height: 230px; padding: 2.5rem 1.5rem; margin-bottom: 5rem !important; }
.log_bottom {text-align: center;}
.log_bottom .ay_button { width: 250px; margin-top: 15px; }
.log_bottom p { font-size: 10px; }
.log_registr { padding: 25px; position: relative; height: 100%; }
.log_registr .head_t p { font-size: 15px; }

/*=== otp page css ====*/
.hedr p { margin-top:3rem; font-size: 18px; }
.otp_scr .hedr {position: relative; margin-top: 2rem;}
.otp_scr .hedr .go_back {position: absolute;left: 0;top: 0;font-size: 24px; }
.otp_steps {margin-bottom: 1.5rem;}
.otp_steps .ot_step {width: 33.33%;}
.otp_steps .ot_step .stp_bar {background: #fff;height: 3px;}
.otp_steps .ot_step .stp_bar.complete {	background: var(--Grey);}
.oto_sec .o_t_p {margin-bottom: 3rem;}
.oto_sec .o_t_p .form-control {	border: none;border-bottom: solid 1px var(--Magenta);	border-radius: 0;}
.otp_custu_care { position: absolute; bottom: 0; left: 0;width: 100%;height: 100%; background: rgba(255,255,255,.5);
}
.otp_custu_care .inr { position: absolute; bottom: 0; background: var(--Light_Pink); width: 100%; padding: 25px;}
span.clos { position: relative; top: -15px; left: 50%; height: 3px; display: block; background: var(--Grey); width: 40px; transform: translateX(-20px);}

/*== g-score page css ==*/
.opt { width: 76%; float: left; font-size: 16px; }
.otp_scr h1 { font-size: 30px; margin-bottom: 2rem; }
.fst, .last { width: 12%; float: left; font-size: 16px; }
.qstn ol { padding: 0; }
.qstn ol li { width: 100%; list-style: lower-alpha; float: left; font-size: 16px; }
.qstn { margin-bottom: 1rem; width: 100%; float: left; }
.parnt_ul { padding-left: 20px; font-size: 20px; }
.parnt_ul > li { list-style: decimal; }


/*== g-score instraction page css ===*/
.g_scor_instr .instr h1{ font-size: 5rem; font-style: italic; }
.instr ul { list-style-type: decimal; padding-left: 20px; font-size: 18px; margin-bottom: 5rem; }
.instr ul li { font-size: 1.2rem; line-height: 1.6;}
.instr .ay_button {
    padding: 4px 2rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
}



/* ==== search page css ===== */
.srh_hd { padding: 1rem;}
.srch_pg .srh_hd h1 { font-size: 24px; margin-bottom: 15px;}
.tagss { padding-left: 10px; padding-bottom: 1rem; margin-top: 3rem;}
.tagss a { margin: 0 5px; background-color: var(--Light_Pink); font-size: 10px; padding: 2px 10px; border-radius: 4px;}
.srch_cont h2 { font-size: 18px; margin-bottom: 1.7rem;}
.srch_cont ul li { list-style: none; padding-left: 35px; position: relative; margin-bottom: 1.5rem;}
.srch_cont ul li::before { counter-increment: section; content: counter(section); position: absolute; left: 0; color: var(--Light_Grey); font-size: 24px;}
.srch_cont .cnt h3 { font-size: 20px;}
.srch_cont .cnt .nam_det { font-size: 15px;}
.srch_cont .cnt .nm { color: var(--Magenta);}
.srch_cont .cnt .det_sr { position: absolute; right: 0; bottom: 0; font-size: 15px; }
.srch_cont .cnt .pr i { color: var(--Magenta);}
section.whmnt {	border-top: solid 1px var(--Light_Grey);}
section.whmnt h2 { font-size: 1rem;}
section.whmnt .whofloe {padding-left: 1rem;}


/* ==== unlock membership page css ===== */
.Unl_memb .hdr { margin-bottom: 1rem; padding: 1rem;}
.Unl_memb .hdr .hlp a { margin: 0 5px; background-color: var(--Magenta); font-size: 14px; padding: 2px 10px; border-radius: 4px; color: #fff;}
.Unl_memb .hdr .clos span { font-size: 1.3rem; }
.Unl_memb .hdr .clos a { text-decoration: none; }
.Unl_memb .mam_cont { padding: 1rem; }
.Unl_memb .mam_cont ul {padding: 0;}
.Unl_memb .mam_cont ul li { font-size: 18px; list-style: none; position: relative; padding-left: 20px; margin-bottom: 1rem; }
.Unl_memb .mam_cont ul li::before { content: "\F309"; left: -10px; color: var(--Magenta); top:-10px; font-family: bootstrap-icons !important; font-size: 2rem; position: absolute;}
.Unl_memb .mam_cont .btngt { margin-top: 4rem; }


/* ==== user role css ===== */
.prftl { background-image: url(../images/darkbg.png);background-size: 100%; background-position: top 0px center;}
.prdt .aydp img { border-radius: 50%; object-fit: cover; }
.dtpan { border-radius: .8rem; padding: .5rem; }
.dtpan > div { border-color: var(--Grey) !important; }
.dtpan p, .dtpan a { font-size: 18px; margin: 10px 0; display: block;} 
.dtpan a { color: var(--Magenta); text-decoration: none;}
.usr_rl .sc_wrp .lp_ar { background-color: rgba(255,255,255,.5); }
.sc_wrp .lp_ar .tim { text-align: center; font-size: .8rem; }
.sc_wrp .lp_ar .erj { background-color: var(--Grey); border: solid 2px var(--Magenta); font-size: .8rem;
    line-height: 1; color: #fff; width: 50px; height: 50px; border-radius: 50%; text-align: center; position: relative; }
.sc_wrp .lp_ar .ttl a { font-size: 1.5rem; text-decoration: none; }
.sc_wrp .lp_ar .erj::after {content: ''; display: block; height: 10px; width: 1px; background: rebeccapurple; position: absolute; bottom: -11px;left: 50%;}
.sc_wrp .lp_ar .erj::before {content: ''; display: block; height: 10px; width: 1px;background: rebeccapurple; position: absolute; top: -11px; left: 50%;}


/* === details page css === */
.dtls h2 { margin-top: -35px;}
.dtls { margin-top: 10vh; background: rgb(255,24,203);
	background: linear-gradient(0deg, rgba(255,24,203,0.5592814241902212) 0%, rgba(255,255,255,0.6744499635160639) 100%, rgba(255,255,255,0.7783825477857268) 100%);}
.sgrd input[type=radio],
.gndr input[type=radio] { position: absolute; opacity: 0; }
.gndr input[type=radio]:checked + .radio-label { border-bottom: solid 2px var(--Magenta);}
.sgrd .radio-label { border: solid 1px var(--Grey); border-radius: 4px; padding: 0 10px; margin-top: 5px;}
.sgrd input[type=radio]:checked + .radio-label { background-color: var(--Magenta); color: #fff; }
.nmtg input { border: none; border-bottom: solid 1px var(--Grey); background: transparent; }
.dtbtm { margin-top: 15vh;}


/* === Connections page css === */
section.cnctn_mn {
    margin-top: -15px;
}
.cnctn_mn .cn_sect > span a { text-decoration: none; }
.cnctn_mn .cn_sect > span:after { content: ''; display: block; width: 100%; height: 3px;
    background: var(--Grey);
    margin-top: .5rem;
}
.cnctn_mn .cn_sect > span.active::after { background: var(--Magenta); }
.fr_lst > span { float: left; }
.fr_lst span.fr_nm { width: 50%;}
.fr_lst span.fr_img { width: 20%;}
.fr_lst span.fr_rmv { width: 30%;}
.fr_lst span.fr_rmv a.btn.ay_button { font-size: .9em; padding: 2px 10px; margin-top: 15px;}
.fr_lst span.fr_img img { height: 50px; border-radius: 50%; }
.fr_lst span.fr_nm > span { display: block; color: var(--Magenta);}
.fr_lst span.fr_nm > a { font-size: 1.3em; text-decoration: none;}
.cnctn_mn .fr_lst {  margin: 1rem 0 !important; }


/* === cource content page === */
.crc_cnt { position: relative;}
.crc_cnt .pic_mttr { max-height: 250px; overflow: hidden; padding-top: 70%; background-size: cover; position: relative;}
.crc_cnt .pic_mttr::after { content: ''; display: block; height: 100%; width: 100%; position: absolute; top: 0; background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,0.8851241208194347) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,0.7783825477857268) 100%);}
.crc_cnt .hd_opt { position:absolute; width: 100%; top: 20px; }
.crc_cnt .hd_opt span > a,
.crc_cnt .hd_opt span { font-size: 2rem; line-height: 1; color: #fff;}
.crc_cnt .hd_opt span { margin: 0 5px;}
.crc_cnt .hd_opt span.bkmr > a,
.crc_cnt .hd_opt span.bkmr { font-size: 1.2rem !important; margin-top: 7px;}
.cntt_crs .nav .nav-link {font-size: 22px; padding: 0; margin: 0; border: none; border-bottom: solid 3px var(--Grey); padding-bottom: 7px; color: var(--Grey);}
.cntt_crs .nav .nav-link.active { border-bottom: solid 3px var(--Magenta); background: none; }
.ct_ls_dt .dscr > span{ margin: 0px 5px; }
.ct_ls_dt button.ay_button { font-size: 1em; padding: 0 9px; margin-top: 10px;}
.al_cr_ls .cr_ls { background: var(--Light_Grey);}
.al_cr_ls .cr_ls h3 { font-size: 20px; margin: 0;}
.cr_ls .cr_ch {  margin: 8px 15px 3px 0px; width: 30px; height: 30px; border-radius: 50%; background-color: #fff; font-size: 20px; }
.cr_ls .cr_ch.chck { font-size: 21px; color: var(--Magenta); font-weight: 700; }
.mnt_oc > img { width: 30px; height: 30px; border-radius: 50%;}
.al_cr_ls .cr_ls.mnt_ls p,
.al_cr_ls .cr_ls.mnt_ls h3 { padding-left: 25px; position: relative;}
.al_cr_ls .cr_ls.mnt_ls h3::before {content: 'M';position: absolute;left: 0;top: 2px; color: var(--Magenta); font-size: 16px; padding: 2px; text-align: center;	border: solid 1px var(--Grey); line-height: 1;}
.al_cr_ls .cr_ls.mnt_ls .grd { color: var(--Magenta);}



/* === account setting page  */
.bg_v1.ac_sett { height: 100%;}
.bg_v1.ac_sett .main_menu { height: 200px; }
.bg_v1.ac_sett .dtls { margin-top: 10px; height: calc(100% - 200px);}
.bg_v1.ac_sett .profile-pic {
    margin-top: -94px;
    margin-bottom: 35px;
}
.bg_v1.ac_sett .dtls legend { font-size: 1em; color: var(--Magenta);}
.upbrt {
    position: relative;
}
a.uplnk {
    position: absolute;
    right: 0;
    top: 7px;
	color: var(--Magenta);
	text-decoration: none;
}
.mb-3.text-center.mt-5.fx__btns {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
/* badge page css */
.bdg_log {margin-top: -150px;}
.clnd { margin-top: 25px;}
.clnd .dt{ font-size: 5rem; color: var(--Magenta); border-bottom: solid 1px var(--Light_Grey); }
.clnd p { font-size: 1.5rem;}
.bdg,
.bdg > a {
	display: block;
	width: 100%;
}
.bgth > span {
    font-size: 30px;
}
/* == enrolled and save === */
.enlst .cten h2{margin-top: .7rem;}
.enlst .cten h2::after { content: ''; width: 35px; height: 1px; background: rebeccapurple; display: block; margin-top: 7px;}
.cten .crsh {
    width: 80%;
    float: left;
}
.envdo {
	width: 100%;
	position: relative;
}
.envdo .playpause {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 44px;
    transform: translate(-50%, -50%);
}
.cten .psnt {
	width: 20%; float: right; text-align: center;
}
.cten .psnt strong {
	float: right;
    display: inline-block;
    margin-left: 30px;
    background: var(--Grey);
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: .89em;
    padding: 5px 2px;
}
.btendt { font-size: .68rem;}
.btendt .rnk { color: var(--Magenta); }
.btendt .nmk::before {
    content: 'M';
    border: solid 1px var(--Grey);
    line-height: 1;
    color: var(--Magenta);
    margin-right: 4px;
}
.svhdr { border-bottom: solid 2px var(--Grey); padding-bottom: 1rem;}
.tgsh > span {
	background-color: var(--Light_Pink); border-radius: 4px; margin-bottom: 10px; margin-right: 5px; padding: 0 12px;}
.gsyh a {
	color: var(--Magenta);
	text-decoration: none;
} 	
.svcnt .imghb { 
	width: 25%;
	float: left;
}
.svcnt .cgav { 
	width: 75%;
	float: left;
	padding-left: 15px;
}
.svcnt .cgav p > span{
	color: var(--Magenta);
}
.svcnt .svcntldt .cgav p {
	font-size: 16px;
}
.svcnt .svcntldt .cgav h3 {
	font-size: 1.4rem;
}
.svcnt .svcntldt { 
	border-bottom: solid 1px var(--Light_Grey) ; padding-bottom: .4rem;     margin-bottom: 15px;
}
.allhadv {
	border-top: solid 1px var(--Light_Grey);
}
.recmn {
	background: #ccc;
}
.recmn h3,
.allhadv .svdcat h3 {
	font-size: 1.25rem;
	margin-bottom: 1.5rem;
}
.recmn .reclst:not(:last-child),
.allhadv .svctls:not(:last-child) {
	border-bottom: solid 1px var(--Light_Grey);
	margin-bottom: 1rem;
}
.recmn .reclst .col .ay_button,
.allhadv .svctls .col .ay_button {
    font-size: .85rem;
    padding: 0 5px;
    border-radius: 4px;
	color: var(--Magenta);
	background-color: var(--Light_Pink);
	border: var(--Light_Pink);
}
.recmn .reclst .col .ay_button {
	color: var(--Grey);
	padding: 0 15px;
}


/* === relationship page css ==== */
.relchc { margin-top: 15vh;}
.rlsn .reltxr p {
    text-align: justify;
    font-size: 1.46rem;
    margin-top: 1.3rem;
}
.relmtch {
	background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
	padding: .375rem .75rem;
	border-radius: 0.6rem;
    font-size: 18px;
}
.relmtch .pfp {
	width: 15%;
}
.relmtch .relnm {
	width: 60%;
}
.relchc .checkbtn {
	color: #fff;
	background-color: var(--Grey);
	font-size: 1.2rem;
	border-radius: 0.6rem;
	padding: 0rem 1rem;
}
